@{
  Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylists</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)<h3>
<h3>@Html.DisplayNameFor(model => model.Nickname): @Html.DisplayFor(model => model.Nickname)<h3>
<br>
<br>
<h2>Client List:</h2>

@if (@Model.Clients.Count == 0)
{
  <h3>No clients associated with this stylist</h3>
} 

@foreach (Client client in Model.Clients)
{
    <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
}
<br>
<p>@Html.ActionLink("Edit Stylist Information", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("See Client List", "Index", "Clients")</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>