@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.DateAdded): @Html.DisplayFor(model => model.DateAdded)<h3>
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)<h3>
<p>@Html.ActionLink("Edit Client Information", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to Client List", "Index")</p>
<p>@Html.ActionLink("See Stylist List", "Index", "Stylists")</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>